@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-color: #ced4c6;
    margin: 0;
    padding-top: 56px;
    font-family: 'Poppins', sans-serif;
}

.col, .col-12 {
    padding-left: 0px;
    padding-right: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/***********************************Navbar***********************************/

.fixed-top {
    box-shadow: 10px 3px 10px 0px rgb(0, 0, 0, 0.2);
}

.navbar {
    background-color: #ced4c6;
}

@media only screen and (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
        width: max-content;
    }
}

/***********************************Offer***********************************/

/* Whiskey Drop reference for idea of offerbanner /*/

.offer {
    background-color: #c6878f;
    padding: 0.5em;
    margin-bottom: 0; /*change from default setting from 2rem to 0*/
    border-radius: 0;
    text-align: center;
}

.offer p {
    margin-top: 0;
    margin-bottom: 0;
}

.offer a {
    color: white;
    margin-left: 10px;
}

.offer a:hover {
    font-weight: bold;
    text-decoration: none;
}
/***********************************Welcome***********************************/

.welcome-left {
    text-align: center;
}

.welcome-left h1 {
    font-size: 5em;
    margin-top: 0.3em;
    font-weight: bold;
    text-transform: uppercase;
}

.welcome-left p {
    text-transform: uppercase;
}

@media only screen and (max-width: 480px) {
    .welcome-left h1 {
        font-size: 3.5em;
    }
}

/***********************************Line Break***********************************/

hr {
    border-top: 1px solid #c6878f;
    width: 30%;
}

/***********************************Company***********************************/

.company-container {
    width: fit-content;
    display: flex;
    margin: 0 auto;
}

.company-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.company {
    margin-bottom: 1em;
    text-align: center;
}

.company h6 {
    font-style: italic;
}

/***********************************Hero***********************************/

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/hero.jpg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
}

.hero-text h1 {
    font-size: 5em;
    margin-top: 0.3em;
    font-weight: bold;
    text-transform: uppercase;
}

.hero-text h4 {
    margin-top: 0.3em;
    text-transform: uppercase;
}

.hero-text p {
    font-style: italic;
    background-color: #5B507A;
    margin: 1.8em;
}

.hero-text hr {
    border-top: 2px solid #c6878f;
    width: 30%;
}

.hero-btn {
    background-color: #c6878f;
    border: 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    cursor: pointer;
    text-decoration: none;
}
  
.hero-btn:hover {
    color: #c6878f;
    background-color: white;
    border: 1px solid black;
    box-shadow: 10px 3px 10px 0px rgb(0, 0, 0, 0.2);
    text-decoration: none;
}

@media only screen and (max-width: 480px) {
    .hero-text h1 {
        font-size: 3em;
    }

    .hero-text h4 {
        font-size: small;
    }

    .hero-text p {
        font-size: smaller;
    }
}

/***********************************Instagram***********************************/

.socials-container { 
    width: 100%;
    display: flex;
}

.insta-container i {
    font-size: 3em;
    position: relative;
    margin-right: 0.2em;
    top: 0.27em;
}
  
.insta-container {
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}

.insta-container a {
    color: black;
    font-size: 1.5em;
    text-decoration: none;
    background-color: #c6878f;
    padding: 0.55em;
}

@media only screen and (max-width: 480px) {
    .insta-container a {
        font-size: 0.95em;
    }
}

/***********************************Review & Subscribe***********************************/

.review-container {
    width: 100%;
    display: flex;
}

.review-container i {
    max-width: 100%;
    height: auto;
    margin: 0.5em;
}

.review1-container {
    width: 33%;
    padding: 1.5em;
    text-align: center;
    margin: 3em 1.5em 3em 3em;
    border-radius: 10px;
    box-shadow: 10px 3px 10px 0px rgb(0, 0, 0, 0.2);
}

.review2-container {
    width: 33%;
    padding: 1.5em;
    text-align: center;
    margin: 3em 1.5em 3em 1.5em;
    border-radius: 10px;
    box-shadow: 10px 3px 10px 0px rgb(0, 0, 0, 0.2);
}

.sub-container {
    width: 33%;
    background-color: #c6878f;
    border-radius: 10px;
    margin: 3em 3em 3em 1.5em;
    border: 1px solid black;
    padding: 2em;
    box-shadow: 10px 3px 10px 0px rgb(0, 0, 0, 0.2);
}

label {
    display: block;
}

input {
    width: 100%;
}

.button-sub {
    width: 100%;
    border: 1px solid grey;
}

@media only screen and (max-width: 1024px) {
    .review-container {
        display: inline-block;
    }

    .review1-container {
        margin: 3em auto;
        width: 60%;
    }

    .review2-container {
        margin: 3em auto;
        width: 60%;
    }

    .sub-container {
        margin: 3em auto;
        width: 40%;
    }
}

@media only screen and (max-width: 768px) {
    .review1-container {
        width: 60%;
    }

    .review2-container {
        width: 60%;
    }

    .sub-container {
        width: 60%;
    }
}

@media only screen and (max-width: 480px) {
    .review1-container {
        width: 90%;
    }

    .review2-container {
        width: 90%;
    }

    .sub-container {
        width: 90%;
    }
}

/***********************************Story***********************************/

.story-section {
    display: flex;
    justify-content: center;
}

.image-container {
    height: auto;
    margin: 2em;
    box-shadow: 10px 3px 10px 0px rgb(0, 0, 0, 0.2);
}

.text-container {
    width: 50%;
    margin: auto 2em;
    background-color: #c6878f;
    padding: 2em;
    box-shadow: 10px 3px 10px 0px rgb(0, 0, 0, 0.2);
}

.story-section img {
    max-width: 100%;
}

@media only screen and (max-width: 1024px) {
    .story-section {
        display: inline-block;
    }

    .image-container {
        width: fit-content;
        margin: 2em auto;
    }

    .text-container {
        width: 75%;
        margin: 3em auto;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .image-container {
        width: 50%;
    }
}

@media only screen and (max-width: 480px) {
    .image-container {
        width: 75%;
    }
}

/***********************************Team***********************************/

.team-container {
    width: 100%;
    display: flex;
}

.team-container img {
    max-width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 50%;
    margin: 1em;
}

.team1-container {
    width: 33%;
    padding: 1.5em;
    text-align: center;
    margin: 3em 1.5em 3em 3em;
    border-radius: 10px;
    box-shadow: 10px 3px 10px 0px rgb(0, 0, 0, 0.2);
}

.team2-container {
    width: 33%;
    padding: 1.5em;
    text-align: center;
    margin: 3em 1.5em 3em 1.5em;
    border-radius: 10px;
    box-shadow: 10px 3px 10px 0px rgb(0, 0, 0, 0.2);
}

.team3-container {
    width: 33%;
    padding: 1.5em;
    text-align: center;
    margin: 3em 3em 3em 1.5em;
    border-radius: 10px;
    box-shadow: 10px 3px 10px 0px rgb(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1024px) {
    .team-container {
        display: inline-block;
    }

    .team1-container {
        margin: 3em auto;
        width: 60%;
    }

    .team2-container {
        margin: 3em auto;
        width: 60%;
    }

    .team3-container {
        margin: 3em auto;
        width: 60%;
    }
}

@media only screen and (max-width: 480px) {
    .team-container img {
        max-width: 75%;
    }
}


/***********************************Form***********************************/

.form-section {
    width: 100%;
}

.form-container {
    width: 40%;
    box-sizing: border-box;
    background-color: #c6878f;
    border-radius: 10px;
    margin: 4em auto 1em auto;
    border: 1px solid black;
    padding: 2em;
    box-shadow: 10px 3px 10px 0px rgb(0, 0, 0, 0.2);
}

label {
    display: block;
}

input, textarea {
    width: 100%;
}

.button-form {
    width: 100%;
    border: 1px solid grey;
}

@media only screen and (max-width: 1024px) {
    .form-container {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .form-container {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .form-container {
        width: 85%;
    }
}

/***********************************Business***********************************/

.business-section {
    width: 100%;
}

.business-container {
    width: 100%;
    display: flex;
}

.opening-container {
    width: 25%;
    padding: 1.5em;
    text-align: center;
    margin: 3em 1.5em 3em 3em;
    border-radius: 10px;
    box-shadow: 10px 3px 10px 0px rgb(0, 0, 0, 0.2);
}

.contact-container {
    width: 25%;
    padding: 1.5em;
    text-align: center;
    margin: 3em 1.5em 3em 1.5em;
    border-radius: 10px;
    box-shadow: 10px 3px 10px 0px rgb(0, 0, 0, 0.2);
}

.address-container {
    width: 50%;
    padding: 1.5em;
    text-align: left;
    display: flex;
    margin: 3em 3em 3em 1.5em;
    border-radius: 10px;
    box-shadow: 10px 3px 10px 0px rgb(0, 0, 0, 0.2);
}

.address-style {
    margin-right: 1em;
}

.map-container {
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1024px) {
    .business-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .opening-container {
        margin: 2em auto;
        width: fit-content;
    }

    .contact-container {
        margin: 2em auto;
        width: fit-content;
    }

    .address-container {
        margin: 2em auto;
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    .address-container {
        text-align: center;
        display: inline;
    }
}

/***********************************Shop***********************************/

/*https://www.youtube.com/watch?v=N4bhJ4u29Do MS1 Preparation and CSS Positioning by Suzy Bennett*/
/*to try and rely less on bootstrap and understand more about css's own responsive options, I choose to alter my original layour with the following*/

/*https://www.w3schools.com/howto/howto_css_button_on_image.asp*/
.options-container {
    position: relative;
    width: 50%;
    padding: 2.5em;
    overflow: hidden;
}

.options-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: 2s ease-out; 
}

.options-container img:hover {
    transform: scale(1.03);
}
  
.btn-shop {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #c6878f;
    border: 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    cursor: pointer;
    text-decoration: none;
}
  
.btn-shop:hover {
    color: #c6878f;
    background-color: white;
    border: 1px solid black;
    box-shadow: 10px 3px 10px 0px rgb(0, 0, 0, 0.2);
    text-decoration: none;
}

.options-container img:hover {
    opacity: 0.5;
}

.shop-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.shop-section {
    display: contents;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .shop-container {
        display: inline-block;
        width: 100%;
    }
    
    .options-container {
        width: 90%;
        padding: 0.5em;
        margin: 2em auto;
    }
}

@media only screen and (max-width: 320px) {
    .btn-shop {
        font-size: smaller;
        padding: 6px 12px;
    }
}

@media only screen and (max-width: 480px) {
    .btn-shop {
        font-size: small;
        padding: 6px 12px;
    }
}

@media only screen and (min-width: 769px) {
    .btn-shop {
        top: 70%;
    }
}

@media only screen and (min-width: 1201px) {
    .btn-shop {
        top: 75%;
    }
}

/***********************************How to Order***********************************/

.order-container {
    width: 100%;
    display: flex;
}

.order-container i {
    max-width: 100%;
    height: auto;
    margin: 0.5em;
}

.order1-container {
    width: 33%;
    padding: 1.5em;
    text-align: center;
    margin: 3em 1.5em 3em 3em;
    border-radius: 10px;
    box-shadow: 10px 3px 10px 0px rgb(0, 0, 0, 0.2);
}

.order2-container {
    width: 33%;
    padding: 1.5em;
    text-align: center;
    margin: 3em 1.5em 3em 1.5em;
    border-radius: 10px;
    box-shadow: 10px 3px 10px 0px rgb(0, 0, 0, 0.2);
}

.order3-container {
    width: 33%;
    padding: 1.5em;
    text-align: center;
    margin: 3em 3em 3em 1.5em;
    border-radius: 10px;
    box-shadow: 10px 3px 10px 0px rgb(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1024px) {
    .order-container {
        display: inline-block;
    }

    .order1-container {
        margin: 2em;
    }

    .order2-container {
        margin: 2em;
    }

    .order3-container {
        margin: 2em;
    }
}

@media only screen and (min-width: 320px) {
    .order-container i {
        font-size: 2em;
    }
    .order1-container {
        width: 85%;
    }

    .order2-container {
        width: 85%;
    }

    .order3-container {
        width: 85%;
    }
}

@media only screen and (min-width: 480px) {
    .order1-container {
        width: 90%;
    }

    .order2-container {
        width: 90%;
    }

    .order3-container {
        width: 90%;
    }
}

/***********************************Footer***********************************/

.footer-container {
    background-color: #c6878f;
    width: 100%;
    height: auto;
    padding: 1em;
    bottom: 0;
    box-shadow: -10px -3px 10px 0px rgb(0 0 0 / 20%);
}

.footer-ul {
    text-align: center;
    margin: 0 auto;
}

.footer-ul li {
    font-size: 1.5em;
    display: inline;
    letter-spacing: 1.5em;
}

.footer-ul a {
    color: white;
}

@media only screen and (max-width: 500px){
    .footer-ul li {
        letter-spacing: 0.6em;
    }
}