body {
    background-color: #ced4c6;
    margin: 0;
    padding-top: 56px;
}

.col, .col-12 {
    padding-left: 0px;
    padding-right: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/***********************************offer banner***********************************/

/* Whiskey Drop reference for idea of offerbanner /*/

.offer {
    background-color: #c6878f;
    padding: 0.5em;
    margin-bottom: 0; /*change from default setting from 2rem to 0*/
    border-radius: 0;
    font-family: 'Caladea', serif;
    text-align: center;
}

.offer p {
    margin-top: 0;
    margin-bottom: 0;
}

/***********************************navbar***********************************/

.fixed-top {
    box-shadow: 10px 3px 10px 0px rgb(0, 0, 0, 0.2)
}

.navbar {
    background-color: #ced4c6;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }
}

@media only screen and (min-width: 768px) {
    .navbar-brand {
        display: none;
    }
}

/***********************************welcome***********************************/

.welcome-left {
    text-align: center;
}

.welcome-left h1 {
    font-size: 5em;
    margin-top: 0.3em;
    font-weight: bold;
}

.welcome-left p {
    text-transform: uppercase;
}

.welcome-under {
    align-items: center;
}


/***********************************shop options 1st attempt***********************************/

/*
  .shop-btn {
      background: transparent;
      font-size: 1.5em;
      color: white;
      font-family: 'Caladea', serif;
      border: 1px solid white;
      border-radius: 10px;
      padding: 25px 50px;
  }

  .shop-btn:hover {
    background: white;
    font-size: 1.5em;
    color: black;
    font-family: 'Caladea', serif;
    border: 1px solid white;
} */

/***********************************shop options 3rd attempt***********************************/

/*https://www.youtube.com/watch?v=N4bhJ4u29Do MS1 Preparation and CSS Positioning by Suzy Bennett*/
/*to try and rely less on bootstrap and understand more about css's own responsive options, I choose to alter my original layour with the following*/

/*https://www.w3schools.com/howto/howto_css_button_on_image.asp*/
/* Container needed to position the button. Adjust the width as needed */
.options-container {
    position: relative;
    width: 50%;
    padding: 3em;
    overflow: hidden;
}
  
/* Make the image responsive */
.options-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: 2s ease-out; 
}

.options-container img:hover {
    transform: scale(1.03);
}
  
.btn-shop {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
}
  
.btn-shop:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
    box-shadow: 10px 3px 10px 0px rgb(0, 0, 0, 0.2);
}

.options-container img:hover {
    opacity: 0.5;
}

.shop-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.shop-section {
    display: contents;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .shop-container {
        display: inline-block;
        width: 100%;
    }
    
    .options-container {
        width: 75%;
        padding: 0.5em;
        margin: 2em auto;
    }
}

@media only screen and (min-width: 769px) {
    .btn-shop {
        top: 70%;
    }
}

@media only screen and (min-width: 1201px) {
    .btn-shop {
        top: 75%;
    }
}

/***********************************instagram***********************************/

.socials-container { 
    height: 50px;
    position: relative;
    margin: 2em;
}
  
.insta-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #c6878f;
}

.insta-container a {
    color: black;
    font-size: 1.5em;
    font-family: 'Caladea', serif;
    text-decoration: none;
}

/***********************************footer***********************************/

.footer-container {
    background-color: #c6878f;
    width: 100%;
    height: 100px;
}

.footer-ul {
    text-align: center;
}

.footer-ul li {
    display: inline;
}